<!--определяем тип модели для облегчения работы редактора-->
@model List<Band>
@{
    //заголовок страницы
    ViewData["Title"] = "База данных групп.";
    //отключение штатного лейаута
   // Layout = null;  
}

<div class="text-center">
    <h5>
        <p>В базе @Model.Count групп.</p>
    </h5>
    
    <div class="band-list" style="background-color: floralwhite">
    <table>
    <tr>
    <th>Id</th>
    <th>Название</th>
    <th>Год основания</th>
    <th>Страна</th>
    </tr>
 
    @foreach (var item in Model)
    { 
        <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Year</td>
        <td>@item.Country</td>
        <td>@Html.ActionLink("Изменить", "Edit", item)
            @Html.ActionLink("Удалить", "Delete", item)</td>
        </tr>
    }
    </table>
    </div>

    <div class="band-list">
        <h4>
        @Html.ActionLink("Добавить новую группу", "Create")
        </h4>
    </div>

</div>
