<!--определяем тип модели для облегчения работы редактора-->
@model List<Band>
@{
    //заголовок страницы
    ViewData["Title"] = "База данных групп.";
    //отключение штатного лейаута
   // Layout = null;  

  
}

<div class="text-center">
    <h5>
        <p>В базе @Model.Count групп.</p>
    </h5>
    
    <div class="band-list" style="background-color: floralwhite">
    <table>
    <tr>
    <th>Id</th>
    <th>Название</th>
    <th>Год основания</th>
    <th>Страна</th>
     <th>Mus1ID</th>
    <th>Имя</th>
         <th>Инструмент</th>
          <th>Mus2ID</th>
          <th>Имя</th>
         <th>Инструмент</th>
          <th>Mus3ID</th>
          <th>Имя</th>
         <th>Инструмент</th>
    </tr>
 
    @foreach (var item in Model)
            {
               
                <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Year</td>
        <td>@item.Country</td>
          
                   
                    <!-- инициализация генератора ID-->  
              @{
                  if (item.Musician1.ID == 0) item.Musician1.ID=777;
                  if (item.Musician2.ID == 0) item.Musician2.ID=777;
                  if (item.Musician3.ID == 0) item.Musician3.ID = 777;
                  
               }
                   

              <td>@item.Musician1.ID</td>   
                   <td>@item.Musician1.Name</td>    
                        <td>@item.Musician1.Instrument</td>    

                              <td>@item.Musician2.ID</td>   
                       <td>@item.Musician2.Name</td>    
                            <td>@item.Musician2.Instrument</td>    

                                  <td>@item.Musician3.ID</td>   
                       <td>@item.Musician3.Name</td>    
                            <td>@item.Musician3.Instrument</td>    

        <td>@Html.ActionLink("Изменить", "Edit", item)
            @Html.ActionLink("Удалить", "Delete", item)</td>
        </tr>
    }
    </table>
    </div>

    <div class="band-list">
        <h4>
        @Html.ActionLink("Добавить новую группу", "Create")
        </h4>
    </div>

</div>
